:root{
    --leftside-nav-width: 270px;
    --leftside-nav-small-width: 70px;
    --topnav-height: 60px;
}
body {
    margin: 0;
    font-family: Nunito,sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fafbfe;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.dropdown-menu {
    font-size: 0.9rem;
    font-weight: 600;
}
a {
    color: #727cf5;
    text-decoration: none;
}
a, button {
    outline: 0!important;
}
a:hover {
    color: #6169d0;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #6169d0;
    background: none;
}
.navbar-toggler-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.top-nav .top-navbar-toggler, .top-nav .nav-item{
    height: var(--topnav-height);
}
.top-nav .navbar-nav .nav-link{
    padding: 0 1rem;
    line-height: var(--topnav-height);
    height: var(--topnav-height);
}
.wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.simplebar-scrollbar::before {
    background-color: #6c757d;
    width: 4px;
}
.leftside-menu {
    width: var(--leftside-nav-width);
    z-index: 1002;
    bottom: 0;
    position: fixed;
    top: 0;
    margin-top: var(--topnav-height);
    background: #fff;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}
.leftside-menu .navbar-nav .nav-link:hover,
.top-nav .navbar-nav .nav-link:hover {
    background-color: rgba(118,56,255,.05);
    transition: none;
}
.top-nav .dropdown-menu {
    margin-top: 0;
    border: 1px solid #eff2f7;
    border-radius: 0.8rem;
    transform-origin: left top 0;
    background-color: #fff;
    box-shadow: 0 0 1.25rem rgba(31,45,61,.08);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.top-nav .dropdown-menu .dropdown-item{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.dropdown-item i{
    margin-right: 0.5rem;
}
.leftside-menu .nav-link.active {
    border-left: 3px solid #7638ff;
    background-color: rgba(118,56,255,.05);
    color: #727cf5;
}
body.leftside-menu-condensed .leftside-menu {
    width: var(--leftside-nav-small-width);
}
body.leftside-menu-condensed .leftside-menu:hover{
    width: var(--leftside-nav-width);
    -webkit-transition: width .2s;
    transition: width .2s;
}
body.leftside-menu-condensed .leftside-menu:hover .logo{
    width: var(--leftside-nav-width);
    -webkit-transition: width .2s;
    transition: width .2s;
}
body.leftside-menu-condensed .leftside-menu:hover .logo-large{
    display: block;
}
body.leftside-menu-condensed .leftside-menu:hover .logo-small{
    display: none;
}
body.leftside-menu-condensed .leftside-menu:hover .navbar-nav .nav-link{
    text-align: left;
}
.leftside-menu .logo{
    display: block;
    width: var(--leftside-nav-width);
    position: fixed;
    top: 0;
    line-height: var(--topnav-height);
}
body.leftside-menu-condensed .leftside-menu .logo{
    width: var(--leftside-nav-small-width);
}
body.leftside-menu-condensed .logo .logo-large {
    display: none;
}
body.leftside-menu-condensed .logo .logo-small {
    display: block;
}
.content-wrapper{
    margin-left: var(--leftside-nav-width);
    overflow: hidden;
    min-height: 100vh;
    padding-top: var(--topnav-height);
}
body.leftside-menu-condensed .content-wrapper {
    margin-left: var(--leftside-nav-small-width);
}
.top-nav{
    background-color: #fff;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    height: var(--topnav-height);
    left: var(--leftside-nav-width);
    right: 0;
    z-index: 1001;
}
body.leftside-menu-condensed .top-nav, body.leftside-menu-condensed .footer{
    left: var(--leftside-nav-small-width);
}
.top-nav .top-navbar-toggler{
    border: none;
    color: #313a46;
    background-color: transparent;
}
.top-nav .navbar-toggler:focus{
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.leftside-menu .navbar-nav .nav-item{
    margin-bottom: 1rem;;
}
.child-nav .nav-link{margin-bottom: 0.5rem;}
.leftside-menu .navbar-nav .child-nav{
    background-color: rgba(118,56,255,.05);
}
.leftside-menu .navbar-nav .nav-link{
    padding: 0.75rem 1rem;
}
.navbar-nav .nav-link {
    color: #6c757d;
    font-size: .9rem;
    font-weight: 600;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.leftside-menu .navbar-nav .nav-link {
    white-space: nowrap;
}
.navbar-nav  .nav-link:active, 
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #727cf5;
}
.leftside-menu .nav-link-collablisble{
    display: flex;
}
.leftside-menu .nav-link-collablisble[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}
body.leftside-menu-condensed .leftside-menu .link-icon{
    margin-left: 0.3rem;
}
body.leftside-menu-condensed .leftside-menu .right-icon{
    visibility: hidden;
    transition: none;
}
body.leftside-menu-condensed .leftside-menu .link-text{
    /*font-size: 0.75rem;
    word-break: break-word;*/
    visibility: hidden;
}
body.leftside-menu-condensed .leftside-menu:hover .link-text,
body.leftside-menu-condensed .leftside-menu:hover .right-icon
{
    visibility: visible;
}
.navbar-nav .nav-link i{
    font-size: 1rem;
}
.navbar-nav .right-icon i{
    font-size: 0.95rem;
}
.nav-link .link-icon{margin-right: 0.5rem;}
body.leftside-menu-condensed .leftside-menu .navbar-nav .nav-link{
    text-align: center;
}
.leftside-menu .navbar-nav.child-nav .link-text{
    font-size: 0.9375rem;
}
.footer {
    border-top: 1px solid rgba(152,166,173,.2);
    padding: 19px 24px 20px;
    right: 0;
    color: #98a6ad;
    left: var(--leftside-nav-width);
}
.footer .footer-links a {
    color: #98a6ad;
    margin-left: 1.5rem;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.footer .footer-links a:hover {
    color: #313a46;
}
@media (max-width: 991.98px) {
    #topNav .navbar-nav{
        padding-left: 1rem;
    }
}
@media (min-width: 768px){
    .leftside-menu {
        border-right: 1px solid rgba(0,0,0,.1);
    }
    .leftside-menu .logo-small{
        display: none;
    }
}

@media (max-width: 767.98px){
    .content-wrapper {
        margin-left: 0!important;
        padding: 65px 10px 65px;
    }
    .top-nav{
        left: 0!important;
        padding: 0;
    }
    .leftside-menu{
        display: none;
    }
    body.leftside-menu-condensed .leftside-menu {
        display: none !important;
    }
    .leftside-menu .logo{
        display: none !important;
    }
}
@media (max-width: 1200px){
    .top-nav {
        right: 0;
    }
}
